*:not(ol){
	padding:0;
	margin: 0;
}

html{
	font-size:16px;
	scroll-behavior: smooth;
}

body{
	min-height:1vh;
	font-family:sans-serif;
	background-color: hsl(0,0%,98%)
}

main{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:minmax(25vh, auto) 1fr;
}
header{
	color:hsl(270,100%,50%);
	background-color:#101010;
	display:flex;
	flex-direction:column;
	align-items: center;
	text-align: center;
	padding:1rem;
	margin-bottom: 1rem;
	font-family: "BluuNExt";
}
#title{
	text-transform:capitalize;
	font-size:4.5rem;
	font-weight:800;
}
.subtitle{
	font-size:3rem;
}

.life-dates{
	font-size:1.8rem;
}

#title:hover{letter-spacing:.25rem;word-spacing: .01em;}
.subtitle:hover{letter-spacing:.17rem;}
#title:hover,
.subtitle:hover{
	font-style:oblique;
}

#tribute-info,
#footnotes{
	font-family:"lack";
	font-size: 1.2rem;
	line-height:1.45;
	word-spacing: .015rem;
	letter-spacing:.0025rem;
}
#footnotes{
	font-size: 1.05rem;
}

#tribute-info p:not(.quote){
	padding:0 1rem 1em 1rem;
	margin:0;
}

#tribute-info p:last-child:not(.quote)::after{
	content:"\1F918";
	font-family:monospace;
	font-weight:200;
	color:red;
}
.img{
	display: block;
	max-width:100%;
	height: auto;
	margin:0 auto;
}
.img-div{
	margin:0 1em 1.5em 1em;
	overflow: hidden;
}
.img-caption{
	font-size: .8em;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.img-caption .img-copyright{
	text-align: right;
	font-size: .7em;
}
@media screen and (min-width:690px){
	#title{
		font-size: 6.8rem;
	}
	.img-div{
		grid-column: 2/6;
		grid-row: auto;
		margin: 0 auto 1.5em auto;
	}
	.img-caption{
		font-size: .95em;
		padding: .35rem 1rem;
		background-color:hsl(0,0%,35%);
		color:hsl(0,0%,98%);
	}
	.img-caption .img-copyright{
	text-align: right;
	font-size: .8em;
}
}
a:not(header){
	color:hsl(0,100%,40%);
	text-decoration:none;
	border-bottom:.05rem solid hsl(0,100%,40%);
}
a:visited{
	color:hsl(0,100%,30%);
}
a:hover{
	box-shadow:0 0 1rem hsl(0,100%,60%);
	background-color:hsla(0,100%,60%,.5);
	color:hsla(45,100%,75%,1);
	border:0;
}
blockquote{
	justify-self:start;
	color:#101010;
	background-color:hsla(270,100%,70%,.30);
	border-left:1.25rem solid hsl(270,100%,30%);
	padding:1rem .5rem .75rem 1rem;
	margin: 1rem;
	margin-top:0;
	font-style: italic;
}
blockquote a{font-style: initial;}
blockquote p:first-of-type{padding-bottom: 1em;}
blockquote p:only-child{padding-bottom: 0;}
@media screen and (min-width:690px){
	#tribute-info,
	footer{
		display:grid;
		grid-template-columns:repeat(2,1fr) repeat(2,minmax(auto,37.5ch)) repeat(2,1fr);
		align-items:center;
	}
	#tribute-info{
		font-size: 1rem;
	}
	#footnotes{
		font-size: .8rem;
	}
	blockquote,
	#tribute-info p,
	#footnotes{
		grid-column:3/5;
	}
	blockquote{
		justify-self:start;
		padding:1rem .5rem .75rem 1rem;
		margin: 0 1rem 1rem 5ch;
	}
}

.quote{
	padding-bottom:.75rem;
	margin:0;
}

footer{
	color:hsl(0,0%,90%);
	background-color: #101010;
}
footer>*{
	padding: .5em 1em;
}

#footnotes{
	grid-column: 1/7;
	background-color:hsl(0,0%,35%);
}
#footnotes ol{
	margin:0 auto; 
	max-width: 78ch;
	padding:1rem;
	list-style-position: inside;
	/*padding:.5em .75em;*/
}
#footnotes li{
	color:hsl(270,100%,20%);
	padding-bottom:.15em 0;
	text-indent:-1.3em;
	padding: .25em 0 .25em 0;
	padding-left:1.75em;
}
#footnotes li:target{
	color:hsl(270,100%,30%);
	background-color:hsla(270,100%,70%,.30);
	font-weight: 600;
}

#copyright-etc{
	grid-row:2;
	grid-column:1/7;
	text-align: center;
	font-size: .75em;
	/*padding:.5em 1rem;*/
}

.top-link{
	grid-column:3/5;
	text-align:center;
	padding:.5rem;
	margin:0;
	text-transform:capitalize;
	transition-duration: 1s;
	transition: ease;
}